body {
  font-family: "Inter", sans-serif;
}

/* NAVBAR */

.padding-navbar {
  padding-inline: 8.375rem !important;
}

.navbar-nav {
  gap: 1.8125rem !important;
}

.padding-navbar-content {
  padding-left: 4.25rem;
}

/* END NAVBAR */

/* HERO */

/* Section 1 */
.section-1 {
  background-color: #e7ebfc;
}

.headings-1 {
  width: 923px;
  font-size: 64px;
  color: #19345e;
}
.section-1 .text-information {
  width: 900px;
  height: 102px;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.43px;
}

.section-1 img {
  width: 90px;
  height: 90px;
  margin-top: 5rem;
}

.cta-explore {
  background-color: #19345e;
  color: #fff;
  width: 240px;
  height: 56px;
  font-size: 14px;
  border-style: none;
  border-radius: 1px;
}
/* END SECTION 1 */

/* SECTION 2 */
.section-2 {
  background-color: #e7ebfc;
  display: flex;
  flex-direction: column;
}

.headings-2 {
  color: #19345e;
}

.cta-explore1 {
  background-color: #19345e;
  color: #fff;
  width: 160px;
  height: 56px;
  font-size: 14px;
  border-style: none;
  border-radius: 1px;
  display: block;
  margin: 0 auto 150px auto;
}

/* END SECTION 2 */

/* SECTION 3 */
.section-3 {
  padding-block: 8.25rem;
  padding-inline: 10.25rem;
}

.section-3 h1 {
  font-size: 3.25rem;
}

.rounded-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  background-color: #e7ebfc;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 100%;
}

/* END SECTION 3 */

/* SECTION 4 */
.section-4 {
  margin-bottom: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  margin-top: 170px;
}

.rightSlide {
  margin-left: 3rem;
}

.imgSlider {
  height: 405px;
  width: 350px;
  margin-left: 9rem;
}

.slideTag {
  width: 540px;
  height: 260px;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #19345e;
}

.iconSlide {
  width: 126px;
  height: 37px;
}

.dapit {
  width: 144px;
  height: 34px;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.43px;
  padding-top: 7.5px;
  color: #1a1a1a;
}

.jabatan {
  width: 207px;
  height: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.29px;
  color: #767676;
}

.dataDiri {
  padding-top: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  background-color: #e7ebfc;
  border-radius: 100%;
  width: 65px;
  height: 65px;
}

.carousel-control-prev {
  left: 0px;
}

.carousel-control-prev img {
  width: 32px;
  height: 32px;
}

.carousel-control-next {
  right: 0px;
}

.carousel-control-next img {
  width: 32px;
  height: 32px;
}

/* END SECTION 4 */

/* SECTION 5 */
.section-5 {
  margin-bottom: 127px;
}
.card-no-border {
  border: none;
}

.little-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #e7ebfc;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 100%;
  margin-left: 10px;
}
/* END SECTION 5 */

/* SECTION 6 */
.section-6 {
  padding-block: 4rem;
  padding-inline: 2rem;
  background-color: #e7ebfc;
}

.section-6 h1 {
  font-size: 2rem;
}
.section-6 p {
  font-size: 0.8rem;
}
/* END SECTION 6 */

/* FOOTER */
.footer {
  padding-block: 2.75rem;
  padding-inline: 8.5rem;
  background-color: #19345e;
}

.footer a {
  text-decoration: none;
}

.footer p {
  color: white;
}

.footer-link {
  gap: 1.75rem;
  display: flex;
  justify-content: end;
  margin-bottom: 2rem;
}

.footer .line {
  width: 100%;
  opacity: 0.08;
  height: 0.125rem;
  margin-block: 1.375rem;
  background-color: #e7ebfc;
}

@media only screen and (max-width: 991px) {
  /* SECTION-1 */
  .headings-1 {
    width: auto;
    font-size: 2rem;
    color: #19345e;
    justify-content: end;
  }

  .section-1 .text-information {
    width: auto;
    height: auto;
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -0.43px;
  }

  /* SECTION-4 */
  .imgSlider {
    display: block;
    height: 405px;
    width: 350px;
    margin-right: 2rem;
  }

  .slideTag {
    display: block;
    width: auto;
    font-size: 2rem;
    font-weight: 500;
    color: #19345e;
    margin: 0 2.5rem 0 1.5rem;
  }

  .dataDiri {
    padding: 0 1.5rem 0 1.5rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: 100%;
    transform: translateY(-50%);
    background-color: #e7ebfc;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    margin: 4rem;
  }

  /* SECTION 5 */
  .card {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  /* NAVBAR */
  .padding-navbar {
    padding-inline: 2rem !important;
  }

  .navbar-nav {
    gap: 0rem !important;
  }

  .padding-navbar-content {
    padding-left: 0;
  }

  /* SECTION-2 */
  .kartu {
    padding: 4rem;
  }

  /* SECTION-3 */
  .section-3 {
    padding-block: 6rem;
    padding-inline: 2rem;
  }

  .section-3 h1 {
    font-size: 2rem;
  }

  .section-3 p {
    font-size: 0.875rem;
  }

  /* SECTION-5 */
  .section-5 {
    padding-block: 4rem;
    padding-inline: 4rem;
  }

  /* SECTION-6 */
  .section-6 {
    padding-block: 4rem;
    padding-inline: 2rem;
  }

  .section-6 h1 {
    font-size: 2rem;
  }
  .section-6 p {
    font-size: 0.8rem;
  }

  /* FOOTER */
  .footer {
    padding-inline: 2rem;
  }

  .footer p {
    color: white;
    font-size: 0.6rem;
  }
}
