:root {
  --color-1: #19345e;
  --color-2: #f47522;
  --color-3: #e7ebfc;
}

body {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
}

/* NAVBAR */

.padding-navbar {
  padding-inline: 8.375rem !important;
}

.navbar-nav {
  gap: 1.8125rem !important;
}

/* END NAVBAR */

/* HERO */


/* Section 1 */
.section-1 {
  background-color: var(--color-3);
}

.headings-1 {
  width: 923px;
  font-size: 64px;
  color: var(--color-1);
}
.section-1 .text-information {
  width: 900px;
  height: 102px;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
}

.section-1 img {
  width: 90px;
  height: 90px;
  margin-top: 5rem;
}

.cta-explore {
  background-color: var(--color-1);
  justify-content: start;
  color: var(--color-3);
  width: 240px;
  height: 56px;
  font-size: 14px;
  border-style: none;
  border-radius: 1px;
}

.headings-3,
.the-status {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-3);
}

.paragraph-20,
.the-compliments {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-3);
}
/* END SECTION 1 */

/* SECTION 2 */
  .section-2 {
    background-color: var(--color-1);
  }
/* END SECTION 2 */

/* SECTION 3 */
.section-3 {
  background-color: var(--color-3);
}

.left-cont {
  background-image: linear-gradient(rgba(25, 52, 94, 0.5), rgba(25, 52, 94, 0.5)), url("../images/stock_photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 400px;
}


/* END SECTION 3 */

/* SECTION 4 */
.section-4 {
  padding-top: 15rem;
}


.right-container {
  background-image: linear-gradient(rgba(25, 52, 94, 0.5), rgba(25, 52, 94, 0.5)), url("../images/Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 500px;
  margin-left: 3.5rem;
}
/* END SECTION 4 */

/* SECTION 5 */
.section-5 {
  padding-top: 10rem;
}

/* END SECTION 5 */

/* SECTION 6 */
.section-6 {
  padding-top: 5rem;
}

.card {
  border: none;
}

.card-name {
  font-weight: 700;
  color: var(--color-1);
  margin: 0;
}

.card-job-desc {
  font-weight: 500;

}

/* END SECTION 6 */

/* SECTION 7 */
  .section-7 {
    background-color: var(--color-3);
  }

  .headings-7 {
    color: var(--color-1);
  }

  .card-description {
    
  }

/* END SECTION 7 */

/* SECTION 8 */
.section-8 {
  padding-inline: 0;
  padding-block: 4rem;
  background-color: var(--color-3);
}

.section-8 h1 {
  font-size: 3.25rem;
  color: var(--color-1);
}

.section-8 p {
  font-size: 1.125rem;
}
/* END SECTION 8 */

/* FOOTER */
.footer {
  padding-block: 2.75rem;
  padding-inline: 8.5rem;
  background-color: var(--color-1);
}

.footer a {
  text-decoration: none;
}

.footer p {
  color: white;
}

.footer-link {
  gap: 1.75rem;
  display: flex;
  justify-content: end;
  margin-bottom: 2rem;
}

.footer .line {
  width: 100%;
  opacity: 0.08;
  height: 0.125rem;
  margin-block: 1.375rem;
  background-color: var(--color-3);
}
/* END FOOTER */