:root {
  --color-1: #19345e;
  --color-2: #f47522;
  --color-3: #e7ebfc;
}

body {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
}

/* NAVBAR */

.padding-navbar {
  padding-inline: 8.375rem !important;
}

.navbar-nav {
  gap: 1.8125rem !important;
}


/* END NAVBAR */

/* HERO */


/* Section 1 */
.section-1 {
  background-color: var(--color-3);
  padding-left: 7.5rem;
}

.headings-1 {
  font-size: 64px;
  color: var(--color-1);
}
.text-information {
  margin-bottom: 10rem;
  height: 102px;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
}

.section-1 img {
  margin-top: 5rem;
}

.cta-explore {
  background-color: var(--color-1);
  justify-content: start;
  color: var(--color-3);
  width: 240px;
  height: 56px;
  font-size: 14px;
  border-style: none;
  border-radius: 1px;
}

.headings-2,
.the-status {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-3);
}

.paragraph-20,
.the-compliments {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-3);
}
/* END SECTION 1 */

/* SECTION 2 */
  .section-2 {
    background-color: var(--color-1);
    padding: 5rem;
  }

  .the-status {
    font-size: 2.5rem;
  }

  .the-compliments {
    font-size: 1.25rem

  }
/* END SECTION 2 */

/* SECTION 3 */
.center-cont {
  margin: 0;
}

.section-3 {
  background-color: var(--color-3);
  padding: 10rem 0;
}

.left-cont {
  background-image: linear-gradient(rgba(25, 52, 94, 0.5), rgba(25, 52, 94, 0.5)), url("../images/stock_photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 400px;
}

.headings-3 {
  font-weight: 700;
  font-size: 3.25rem; 
  color: #19345e
}


/* END SECTION 3 */

/* SECTION 4 */
.section-4 {
  padding-top: 15rem;
}


.right-container {
  background-image: linear-gradient(rgba(25, 52, 94, 0.5), rgba(25, 52, 94, 0.5)), url("../images/Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 500px;
  margin-left: 3.5rem;
}
/* END SECTION 4 */

/* SECTION 5 */
.section-5 {
  padding-top: 10rem;
}

/* END SECTION 5 */

/* SECTION 6 */
.section-6 {
  padding-top: 5rem;
}

.card {
  border: none;
}

.card-name {
  font-weight: 700;
  color: var(--color-1);
  margin: 0;
}

.card-job-desc {
  font-weight: 500;

}

/* END SECTION 6 */

/* SECTION 7 */
  .section-7 {
    background-color: var(--color-3);
  }

  .headings-7 {
    color: var(--color-1);
  }

  .card-description {
    
  }

/* END SECTION 7 */

/* SECTION 8 */
.section-8 {
  padding-inline: 0;
  padding-block: 4rem;
  background-color: var(--color-3);
}

.section-8 h1 {
  font-size: 3.25rem;
  color: var(--color-1);
}

.section-8 p {
  font-size: 1.125rem;
}
/* END SECTION 8 */

/* FOOTER */
.footer {
  padding-block: 2.75rem;
  padding-inline: 8.5rem;
  background-color: var(--color-1);
}

.footer a {
  text-decoration: none;
}

.footer p {
  color: white;
}

.footer-link {
  gap: 1.75rem;
  display: flex;
  justify-content: end;
  margin-bottom: 2rem;
}

.footer .line {
  width: 100%;
  opacity: 0.08;
  height: 0.125rem;
  margin-block: 1.375rem;
  background-color: var(--color-3);
}
/* END FOOTER */

/* Media Query */

/* HP */
/* ukuran 767px kebawah pake ini */
@media only screen and (max-width: 767px) {
  /* NAVBAR */
  .padding-navbar {
    padding-inline: 2rem !important;
  }

  .navbar-nav {
    gap: 0rem !important;
  }

  .padding-navbar-content {
    padding-left: 0;
  }

  /* Section 1 */
  .section-1 {
    padding: 2rem;
  }
  .headings-1 {
    font-size: 2rem;
  }
  .text-information {
    font: 1rem;
  }

  /* Section 2 */
  .section-2 {
    padding: 3rem;
  }

  .stats-count {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  .the-status {
    display: block;
    font-size: 1.5rem;
  }

  .the-compliments {
    display: block;
    text-align: center;
    font-size: 0.8rem;

  }

  /* Section 3 */

  .left-cont {
    margin: 0 5rem 3rem 5rem;
  }

  .right-cont {
    margin: 0;
    flex-wrap: nowrap;
  }

  .headings-3 {
    font-size: 2rem;
  }

  /* FOOTER */
  .footer {
    padding-inline: 2rem;
  }

  .footer p {
    color: white;
    font-size: 0.6rem;
  }
}


/* Tablet */
@media only screen and (max-width: 991px) {
  /* NAVBAR */
  .padding-navbar {
    padding-inline: 4rem !important;
  }

  .navbar-nav {
    gap: 0.5rem !important;
  }

  .padding-navbar-content {
    padding-left: 0;
  }

  /* Section 1 */

  .section-1 {
    padding: 3rem;
  }

  .headings-1 {
    font-size: 3rem;
  }

  /* FOOTER */
  .footer {
    padding-inline: 4rem;
  }

  .footer p {
    color: white;
    font-size: 0.7rem;
  }
}
